<% include ./partials/header%>

<div class="ui main text container">
     <div class="ui huge header">My Blog App</div>
     <div class="ui top attached segment">
          <div class="ui divided items">
           <% blogs.forEach(function(blogs){ %>
            <div class="item">
                 <div class="image">
                      <img src="<%=blogs.image%>">
                 </div>
                 <div class="content">
                      <h3><%=blogs.name%></h3>
                      <div class="meta">
                           <p><%=blogs.body.substring(0,100)%> .............</p>
                           <a href="/blog/<%= blogs._id%>" class="ui facebook button">show more</a>
                      </div>
                 </div>       
              
                      
                      
                      
            </div>
            <% }); %> 
          </div>
     </div>
</div>
 
   
       
       
 
     

